[audio]
sfx.cursor=sound_effects/play_menu_converted.bcwav
sfx.launch=sound_effects/lets_roll_converted.bcwav

[colors]
arrowbuttoncolor.dark=0xffffff
arrowbuttoncolor.light=0x5d5d5d
arrowbuttoncolor.main=0xffffff
arrowbuttoncolor.shadow=0x000000ff
arrowcolor.border=0xffffff
arrowcolor.pressed=0x585858
arrowcolor.unpressed=0x3d3d3d
bottomcornerbuttoncolor.dark=0x54656d
bottomcornerbuttoncolor.iconlight=0x91cce8
bottomcornerbuttoncolor.iconmain=0x91cce8
bottomcornerbuttoncolor.icontextmain=0x000000
bottomcornerbuttoncolor.light=0x34718d
bottomcornerbuttoncolor.main=0x54656d
bottomcornerbuttoncolor.shadow=0x000000
close.dark=0xd92929
close.glow=0x000000
close.light=0xd92929
close.main=0x4b1818
close.shadow=0x000000ff
close.textmain=0xd92929
close.textselected=0xd92929
close.textshadow=0xd92929
close.textshadowpos=0
cursorcolor.dark=0xffffff
cursorcolor.glow=0xffffff
cursorcolor.light=0xffffff
cursorcolor.main=0xffffff
demotextcolor.main=0xffff00
demotextcolor.textmain=0x000000
filecolor.dark=0x000000
filecolor.light=0xff0000
filecolor.main=0x820000
filecolor.shadow=0x434343ff
folderarrowcolor.dark=0x434343
folderarrowcolor.glow=0x000000
folderarrowcolor.light=0x3f3f3f
folderarrowcolor.main=0x262626
folderarrowcolor.shadow=0x000000ff
folderarrowcolor.textmain=0x989898
folderarrowcolor.textselected=0x989898
folderarrowcolor.textshadow=0x262626
folderarrowcolor.textshadowpos=0
folderbgcolor.dark=0x828282
folderbgcolor.light=0x000000
folderbgcolor.main=0x2d2d2d
folderbgcolor.shadow=0x3a3a3aff
foldercolor.dark=0x463211
foldercolor.light=0xe4c144
foldercolor.main=0xbd9033
foldercolor.shadow=0x000000
gametext.light=0x000000
gametext.main=0x262626
gametext.shadow=0x000000ff
gametext.textmain=0x989898
open.dark=0x56d929
open.glow=0x000000
open.light=0x56d929
open.main=0x1f4b18
open.shadow=0x000000ff
open.textmain=0x56d929
open.textselected=0x56d929
open.textshadow=0x56d929
open.textshadowpos=0
topcornerbuttoncolor.light=0x5d5d5d
topcornerbuttoncolor.main=0xffffff
topcornerbuttoncolor.shadow=0x000000
topcornerbuttoncolor.textmain=0x3d3d3d

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
cero=32
icon=theme_icons/icon_large.png
longtitle="Counter-Strike 2 (without Music Kit, download on GitHub)"
publisher=TheRake66
regions=regionfree
shorttitle=Counter-Strike 2
smallicon=theme_icons/icon_small.png

[kame-editor]
deploy=../deployed_packs/Counter-Strike 2.zip

[textures]
bottom.image=texture_assets/screen_bottom.png
filelarge.image=texture_assets/tile_large.png
filesmall.image=texture_assets/tile_small.png
folderclose.image=texture_assets/folder_closed.png
folderopen.image=texture_assets/folder_opened.png
top.image=texture_assets/screen_top.png
